<!DOCTYPE html>
<html>
  <head>
	<title><%= title %></title>
  </head>
  <body>
	<h1><%= title %></h1>
	<p>Welcome to <%= title %></p>
	<section>
		<input id="txtQuery" type="text" />
		<input id="btnSubmit" type="submit" value="Shoot" /></br></br>
		<label id='lblMessage'>Welcome</label>
	</section>
	<section>
		<div id="placeholder"></div>
	</section>
	<section>
		<div id="my-timeline"></div>
	</section>
	<input type="hidden" id="hdnMessage" value="0">
	<% include partials/template/defaultjs.ejs %>
  </body>
</html>
