<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title><%= title %></title>
    <% include partials/template/defaultjs.ejs %>
    <link type="text/css" href="/stylesheets/ui-lightness/jquery-ui-1.8.21.custom.css" rel="stylesheet" />
    <link type="text/css" href="/stylesheets/lda.css" rel="stylesheet" />
    <link type="text/css" href="/stylesheets/style.css" rel="stylesheet" />
	<link rel="stylesheet" href="http://yui.yahooapis.com/pure/0.5.0/pure-min.css">
	<link type="text/css" href="/stylesheets/semantic.css" rel="stylesheet" />

	<script type="text/javascript" src="/javascripts/bootstrap.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.8.0/jquery.min.js"></script>
    <script type="text/javascript" src="/javascripts/jquery-ui-1.8.21.custom.min.js"></script>
    <script src="/javascripts/jquery.tagcanvas.min.js" type="text/javascript"></script>
    <script type="text/javascript" src="/javascripts/stopwords.js"></script>
    <script type="text/javascript" src="/javascripts/lda.js"></script>
    <script type="text/javascript" src="http://cdn.knightlab.com/libs/timeline/latest/js/storyjs-embed.js"></script>
    <!--For topic handling-->
    <script type="text/javascript" src="/javascripts/topicwise.js"></script>
    <!--For Crawling the API's-->
    <script type="text/javascript" src="/javascripts/Crawler.js"></script>

    <% include partials/template/head.ejs %>
</head>
<body >
<div class="ui segment">
    <section>
        <div id="search_back1" style="width:100%;" align="center" class="ui raised segment">
            <div id="search_div1" style="width:100%">
			<div class="ui fluid icon input">
                <input id="search_field" placeholder="Search the News..." 
				type="text" style="height:40px; width:600px; top:6px; position:relative;" class="css-input"></input>
				<i class="search icon"></i>
			</div>
                <button type="submit" style="height:40px;width:100px; top:6px; position:relative;" onclick=crawlGuardian() 
					class="pure-button pure-button-primary" id="btnSubmit">Submit</button>
            </div>
        </div>
    </section>
	</br>
	<section>
		<div id="topicaldivback1" align="center" class="ui raised segment">
			<div id="topicaldiv1">
				<div id="topiclist1">
					<input id="btn_topic[1]" type="button" class="ui yellow button"></input>
					<input id="btn_topic[2]" type="button" class="ui green button"></input>
					<input id="btn_topic[3]" type="button" class="ui blue button"></input>
					<input id="btn_topic[4]" type="button" class="ui orange button""></input>
					<input id="btn_topic[5]" type="button" class="ui purple button"></input>
					<input id="btn_topic[6]" type="button" class="ui red button"></input>
					<input id="btn_topic[7]" type="button" class="ui pink button"></input>
					<input id="btn_topic[8]" type="button" class="ui teal button"></input>
					<input id="btn_topic[9]" type="button" class="ui orange button"></input>
					<input id="btn_topic[10]" type="button" class="ui blue button"></input>
				</div>
				</br>
			</div>
		</div>
	</section
    
	<section>
        <div id="my-timeline"></div>
    </section>
    <input type="hidden" id="hdnMessage" value="0">
    <section>
	<label class="ui huge label" id='lblMessage'>Welcome to <i>Kuch bhi</i>..Do whatever you want to do</label>
		<!--<h3 style="font-size: 20px;height:20px;font-family: Goudy Old Style,Garamond,Big Caslon,Times New Roman,serif">
        Welcome to <i>Kuch bhi</i>
        ..Do whatever you want to do
    </h3>-->
        <div class="class="ui piled segment"" id="divResult">
            <div id="topiccloud"></div>
            <div id="results"></div>
        </div>
    </section>
	</div>
</body>
</html>