<link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
<link rel="stylesheet" type="text/css" href="http://cdn.knightlab.com/libs/timeline/latest/css/timeline.css">
  
  <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.5.1/jquery.js"></script>
  <script type="text/javascript" src="http://cdn.knightlab.com/libs/timeline/latest/js/storyjs-embed.js"></script>
  
  <script type="text/javascript">
    $(document).ready(function (){
    
    <% if(typeof text != 'undefined')
       {%>
        $('#txtQuery').val('<%= text %>');
    <% } %>
      
    $('#btnSubmit').click(function(){
      var data = {};
      $('#hdnMessage').val(1);
      data.query = $('#txtQuery').val();
      $.ajax({
        type: 'POST',
        data: JSON.stringify(data),
        contentType: 'application/json',
        url: 'http://localhost:3000',
        
        success: function( nodeData ) 
        {
          var data = nodeData.solrData;
          $('#lblMessage').text('Total '+ Object.keys(data.response.docs).length+' result found.');
          $('#txtQuery').val('');
          
          var timeJsonData = {};
          var output="<ul>";
          var count = 0;
          
         /* for (var i in data.response.docs)
          {
            output+="<li>File Id: " + data.response.docs[i].FILEID + " Category: " + data.response.docs[i].CATEGORY +"</li>";
            count+=1;
            if(count == 10) break;
          }*/
            //$.each( data.response.docs, function(item ){
            //output+="<li>File Id: " + item.FILEID + " Category: " +item.CATEGORY +"</li>";
            //});
          //  output+="</ul>";
         // $("#placeholder").html(output);
          $("#my-timeline").html('');
          if(Object.keys(data.response.docs).length > 0){

          createStoryJS({
              type: 'timeline',
              width: '800',
              height: '600',
              source: nodeData.timeLineData,
              embed_id: 'my-timeline'
            });//TimeLine.js          
           }         
          }
        });//Ajax Call
      });//Button Click
  
    //  if($('#hdnMessage').val() == 1)

      
    });//Document Ready
  </script>